.sidebar {
  margin-top: -117px;
  padding: 3rem 2rem;
  background-color: var(--tertiary-color);
}

.logo > img {
  width: 50px;
  border-radius: 50%;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
  gap: 1rem;
}

.side-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-nav {
  background: none;
  border: none;
  outline: var(--tertiary-color);
  font-size: 1.3rem;
  padding: 0.8rem 1rem;
  cursor: pointer;
  color: var(--dk-pink);
  display: flex;
  gap: 1rem;
}

.btn-latest {
  font-size: 1.3rem;
  padding: 0.8rem 1rem;
  color: var(--dk-pink);
  display: flex;
  gap: 0.6rem;
  align-items: center;
}
