/* .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  margin-left: 260px;
} */

.logo > img {
  width: 50px;
  border-radius: 50%;
}

.header-nav {
  display: flex;
  align-items: baseline;
  grid-gap: 2rem;
  gap: 2rem;
}
.input {
  max-width: max-content;
  position: relative;
}

.badge-av {
  position: relative;
  max-width: max-content;
}

.bdg-top {
  top: -0.2rem;
  display: flex;
  right: -0.1rem;
  border-radius: 50%;
  width: 22px;
  height: 22px;
}

.search-input {
  position: relative;
}

::placeholder {
  font-size: medium;
}

.search {
  display: flex;
  align-items: center;
  grid-gap: 1rem;
  gap: 1rem;
  margin-right: 5rem;
}

.search-txt {
  padding: 0.6rem 1rem;
  border-radius: 2rem;
  font-size: inherit;
  width: 490px;
  outline: var(--dk-pink);
  border: 2px solid var(--dk-pink);
}

.flt-icon {
  position: absolute;
  top: 0.2rem;
  color: var(--dk-pink);
  right: 0.5rem;
  padding: 0.7rem;
  background: none;
  border: none;
  outline: #fff;
  cursor: pointer;
  box-shadow: none;
}

/* .github {
  font-size: 1.3rem;
  color: #000;
} */
/* 
.github:hover {
  background-color: var(--lt-pink);
} */

.header {
  border-bottom: 1px solid #e2e8f0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

a {
  color: #000;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  outline: #fff;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 400;
}

.nav-link:hover {
  color: var(--dk-pink);
}

@media only screen and (max-width: 1350px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    z-index: 1;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 1rem;
  }

  .nav-link {
    font-size: 1.5rem;
    font-weight: 400;
  }

  .search {
    margin: 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
}
