.banner {
  text-align: center;
  color: #ffffff;
}

.sliding-img {
  width: 100%;
  height: 73vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img1 {
  background: url(../images/img1.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.img2 {
  background: url(../images/img2.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.btn-img {
  width: 25px;
  height: 26px;
  cursor: pointer;
  outline: none;
  border-radius: 50%;
  border: none;
  margin: 1rem;
}

.btn-main {
  background-color: var(--dk-pink);
  padding: 0.8rem 1rem;
  color: var(--white-color);
  box-shadow: none;
}

.main-footer {
  display: flex;
  justify-content: space-around;
  padding: 2rem 1rem 2rem;
  border-radius: 1rem 1rem 0 0;
  margin: 4rem 0 0;
}

.footer-list {
  display: flex;
  gap: 1rem;
}

.footer-list > li > a {
  color: #000;
}

.footer-list > li > a:hover {
  color: var(--dk-pink);
}

.pink-txt {
  color: var(--dk-pink);
}

.pink-txt:hover {
  text-decoration: underline;
}

.categories-home {
  display: flex;
  margin: 2rem;
  flex-wrap: wrap;
  gap: 2rem;
  row-gap: 3rem;
  justify-content: center;
  align-items: center;
}

.card-category {
  width: 400px;
  height: 300px;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;     
}

.home {
  flex-direction: column;
  width: 100%;
}

.slogan {
  width: 40%;
}

.card-category:hover {
  transition: all 1ms ease-in-out;
  cursor: pointer;
  box-shadow: 9.91px 9.91px 15px #d9dade, -9.91px -9.91px 15px #ffffff;
}

.cat-img1 {
  background: url(../images/catgy-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cat-img2 {
  background: url(../images/catgy-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media only screen and (max-width: 800px) {
  .main-footer {
    gap: 0.5rem;
    flex-direction: column;
    align-items: center;
  }

  .slogan {
    width: 90%;
  }
}
