.question-count {
  margin: 1rem 0;
}

.question-text {
  margin: 4rem 12rem;
  line-height: 2.4rem;
}

.mb {
  margin-bottom: 1rem;
}

.ac {
  margin-bottom: 1rem;
}

.answer-section {
  display: flex;
  justify-content: center;
  grid-gap: 2rem;
  gap: 2rem;
  margin: 3rem 0;
  padding: 2rem;
}

.category {
  margin-bottom: 1rem;
}

.quiz-card {
  opacity: 1;
  background-color: var(--tertiary-color);
  margin: 3rem;
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: var(--tertiary-box-shadow);
}

.quizes {
  display: flex;
  justify-content: center;
  gap: 4rem;
  margin: 2rem;
}

.quiz-heading {
  margin: 1rem;
}

.card-take-quiz {
  max-width: 375px;
  margin: 0;
  width: 100%;
  text-align: center;
}

@media only screen and (max-width: 1350px) {
  .quizes {
    flex-direction: column;
  }

  .quiz-card {
    margin: 2rem;
    padding: 1rem;
  }

  .question-count {
    margin: 1rem 0;
  }
  .question-text {
    margin: 0;
  }

  .answer-section {
    justify-content: center;
    grid-gap: 2rem;
    gap: 1rem;
    margin: 2rem 0;
    flex-direction: column-reverse;
    align-items: center;
    padding: 0;
  }
}
